.sticky {
  display: block;
}

.home,
.post,
.page {
  width: vw(100);
  overflow-x: hidden;
  // margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

.content__row {
  display: flex;
  flex-direction: row;
}

.content__column {
  display: flex;
  flex-direction: column;
}
