.site-footer {
  display: flex;
  flex-direction: column;
}

.footer__content {
  flex: 1;
  display: flex;
  padding: $size__site-padding / 2;
}

.footer__column {
  flex: 1;
  p.footer__title{
    font-family: $font__secondary;
    font-weight: 400;
    line-height: $font__line-height-small;
  }
  p.footer__text{
    font-family: $font__primary;
    line-height: $font__line-height-small;
  }
}

.footer__logo {
  @include m-center-block;
}

.site-info {
  text-align: center;
  padding-bottom: 1rem;
}
