p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: $color__font-primary;
  font-family: $font__primary;
  line-height: $font__line-height-small;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: $font__pre;
}

abbr,
acronym {
  border-bottom: 1px dotted $color__font-primary;
  cursor: help;
}

mark,
ins {
  background: $color__font-primary;
  text-decoration: none;
}

big {
  font-size: 125%;
}

p,
abbr,
cite,
dfn,
em,
i,
blockquote,
address,
pre,
figcaption {
  &.highlight {
    color: $color__font-highlight;
  }

  &.small {
    font-size: $font__size-small;
    line-height: $font__line-height-small;
  }
  &.event-title {
    font-size: $font__size;
    line-height: $font__line-height-small;
  }
  // &.medium{
  //   font-size: $font__size-page;
  // }
}
