h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: $font__secondary;
  font-weight: bold;
  //text-transform: uppercase;

  & .highlight {
    color: $color__font-highlight;
  }
}

h1,
.title {
  clear: both;
  font-size: $font__size-title;
  line-height: $font__line-height-title;
  font-weight: 400;
  letter-spacing: 0.035em;
}

h2,
.title.is-2 {
  clear: both;
  font-size: $font__size-title-2;
  line-height: $font__line-height-title-2;
  font-weight: 400;
  letter-spacing: 0.02em;
}

h3,
h4,
h5,
h6,
.title.is-3 {
  font-size: $font__size-heading;
  line-height: $font__line-height-heading;
  text-transform: none;
}

h1 + .subtitle,
h2 + .subtitle,
h3 + .subtitle,
h4 + .subtitle,
h5 + .subtitle,
h6 + .subtitle,
.title + .subtitle {
  font-size: $font__size-subtitle;
  line-height: $font__line-height-subtitle;
  margin-top: -1em;
}
