body,
button,
input,
select,
optgroup,
textarea {
  color: $color__font-primary;
  font-family: $font__primary;
  font-size: $font__size;
  line-height: $font__line-height;

  &.small {
    font-size: $font__size-small;
    line-height: $font__line-height-small;
  }
}

.editor-styles-wrapper dfn,
.editor-styles-wrapper cite,
.editor-styles-wrapper em,
.editor-styles-wrapper i {
  font-style: normal !important;
}


@import 'headings';
@import 'copy';
