body,
button,
input,
select,
optgroup,
textarea {
  color: $color__font-primary;
  font-family: $font__primary;
  font-size: $font__size-page;
  line-height: $font__line-height;

  &.small {
    font-size: $font__size-small;
    line-height: $font__line-height-small;
  }
}

@import 'headings';
@import 'copy';
