#workshop-archive {
  background-color: $color__theme-tertiary;
}

#event-archive {
  background-color: $color__theme-secondary;
}

.site-main {
  padding: 0 $size__site-padding 2rem;

  .page-header {
    padding-top: 8rem;
    padding-bottom: 3rem;
    @include m-columns-width(10, all);
  }

  .page-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.archive__filters {
  display: block;
  padding: 0 0 2rem;

  @include m-media(md) {
    display: flex;
    align-items: center;
  }

  > span,
  > a {
    display: block;
    width: fit-content;
    text-align: center;

    @include m-media(md) {
      display: inline;
    }
  }

  > span {
    margin: 0px 0px 1em;

    @include m-media(md) {
      margin: 0px 1em 0px 0px;
    }
  }

  > a {
    font-family: $font__secondary;
    margin: 0px 0px 1em;

    @include m-media(md) {
      display: inline;
      margin: 0px 1em;
    }
  }
}

.archive__filter {
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 0.3rem;
  margin: 0 0.2rem;

  &:first-child {
    margin-left: 0.5rem;
  }

  &:last-child {
    padding-right: 0;
  }

  &:hover,
  &.active {
    color: $white;
  }
}
