#workshop-archive {
  background-color: $color__theme-secondary;
}

#event-archive {
  background-color: $color__theme-tertiary;
}

.site-main {
  padding: 0 $size__site-padding 2rem;

  .page-header {
    padding-top: 8rem;
    padding-bottom: 3rem;
  }

  .page-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.archive__filters {
  display: flex;
  align-items: center;
  padding: 0 0 2rem;
}

.archive__filter {
  color: $white;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 0.3rem;
  margin: 0 0.2rem;
  border-bottom: 1px solid transparent;
  text-decoration: none;

  &:first-child {
    margin-left: 0.5rem;
  }

  &:last-child {
    padding-right: 0;
  }

  &:hover,
  &.active {
    color: $color__font-primary;
    border-bottom: 1px solid;
  }
}
