#workshop-archive {
  background-color: $color__theme-tertiary;
}

#event-archive {
  background-color: $color__theme-secondary;
}

.archive__filters {
  display: block;
  padding: 0 0 2rem;

  @include m-media(md) {
    display: flex;
    align-items: center;
  }

  > span,
  > a,
    .historic-container a {
    display: block;
    width: fit-content;
    text-align: center;

    @include m-media(md) {
      display: inline;
    }
  }

  > span {
    margin: 0px 0px 1em;

    @include m-media(md) {
      margin: 0px 1em 0px 0px;
    }
  }

  > a {
    font-family: $font__secondary;
    margin: 0px 0px 1em;

    @include m-media(md) {
      display: inline;
      margin: 0px 1em;
    }
  }
    .historic-container a{
      font-family: $font__secondary;
      margin: 0px 0px 1em;
  
      @include m-media(md) {
        display: inline;
        margin: 0px;
    }
  }
  @include m-media(md){
    .historic-container{
      padding-right: 0;
      padding-left: 2rem;
      margin-left: 1rem;
      border-left: solid 2px white;
     
    }
  }
  
}

.archive__filter {
  text-transform: uppercase;
  cursor: pointer;
  padding: 0 0.3rem;
  margin: 0 0.2rem;

  &:first-child {
    margin-left: 0.5rem;
  }
  
  &:hover,
  &.active {
    color: $white;
  }
}
