.site-main.post {
    .post-header {
      border-bottom: 3px solid $color__theme-secondary;
    }
    .post-content{
        display: flex;
        justify-content: center;
        p.event-bold{
            font-weight: bold;
            margin-bottom: 0;
          }
        .post-content__inscription{
            flex:1;
            padding-right: 1.5rem;
            p {
              margin-top:0;
            }
            .artistic-description p{
              font-size: $font__size-small;
              line-height: $font__line-height-small;
            }
        }
        .post-content__description{
            flex:3;
            border-left: 3px solid $color__theme-secondary;
            padding-left: $size__site-padding;
            align-items: flex-start;
            .description-text {
              @include m-columns-width(9, all);
              margin-left: auto;
              p {
                margin-top: 0;
              }
            }
            .video-container{
              @include m-columns-width(9, all);
              margin-left: auto;
              margin-top: 3rem;
            }
            .thumbnail-container img{
              margin: 0 0.5rem;
              object-fit: cover;
              height: 50vh;
            }
        }
    }
    .carroussel-container {
        position: relative;
        //height: 100%;
        max-width: 100vw;
        //max-height: calc(100vh - var(--header-height));
        //width: vw(55);
        @include m-columns-width(9, all);
        margin-left: auto;
      }
      .carroussel-content {
        button {
          display: none;
          visibility: none;
          width: 0px;
          height: 0px;
          font-size: 0px;
        }
        .slick-prev:before {
            content: "<";
            position: absolute;
            bottom: 0;
            left: 30%;
            color: black;
            font-size: 12px;
            transform: translateY(100%);
          }
          
        .slick-next:before {
            content: ">";
            position: absolute;
            bottom: 0;
            left: 70%;
            color: black;
            font-size: 12px;
            transform: translateY(100%);
          }
        .carroussel-image {
            margin: 0 0.5rem;
            object-fit: cover;
            height: 50vh;
        }  
      }
    .slides-numbers {
        width: fit-content;
        visibility: hidden;
        position: absolute;
        left: 50%;
        bottom: 0;
        color: black;
        font-size: 12px;
        font-family: $font__secondary;
        transform: translate(-50%, 100%);
        &.show {
          visibility: visible;

        }
    }
      
      
      .slider {
        //width: 50vw;
      }
      
      .slick-slide {
        margin: 0px 0px;
      }
      .slick-cloned{
        width:auto;
      }
      
      .slick-slide img {
        width: 30vw;
      }
}