.site-main.post .type-event,
.site-main.post .type-workshop {
  font-size: $font__size;
  position: relative;

  .woocommerce-notices-wrapper {
    position: absolute;
    left: 0;
    top: 0.5rem;
    right: 0;
    margin: auto;
    z-index: 1;

    @include m-media(md) {
      top: 1rem;
    }
  }

  .post-header {
    border-bottom: 2px solid $color__theme-secondary;
  }

  .post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include m-media(md) {
      flex-direction: row;
    }

    p.event-bold {
      font-weight: bold;
      margin-bottom: 0;
    }

    .post-content__inscription {
      flex: 1;
      margin-top: 1.1rem;

      @include m-media(md) {
        padding-right: 3.5rem;
      }

      .cart {
        text-align: center;
        margin-bottom: 3rem;
      }

      p {
        margin-top: 0;
      }

      .artistic-description p {
        font-size: $font__size-small;
        line-height: $font__line-height-small;
      }
    }

    .post-content__description {
      flex: 3;
      align-items: flex-start;

      @include m-media(zr, md) {
        padding-top: 3rem;
        border-top: 2px solid $color__theme-secondary;
      }

      @include m-media(md) {
        padding-top: 1.1rem;
        padding-bottom: 1.1rem;
        padding-left: $size__site-padding;
        border-left: 2px solid $color__theme-secondary;
      }

      .description-text {
        width: 100%;

        @include m-media(md) {
          @include m-columns-width(9, all);
          margin-left: auto;
        }

        p {
          margin-top: 0;
        }
      }

      .video-container {
        width: 100%;
        margin-top: 3rem;

        @include m-media(md) {
          margin-top: 2rem;
        }

        iframe {
          width: 100%;
          height: 30vh;

          @include m-media(md) {
            @include m-columns-width(9, all);
            margin-left: auto;
            height: 40vh;
          }

          @include m-media(lg) {
            height: 50vh;
          }
          @media only screen and (max-height: 700px) {
            height: 60vh;
          }
        }
      }

      .thumbnail-container {
        display: flex;
        justify-content: center;

        img {
          margin: 2rem auto 0;
          object-fit: cover;
          max-height: 30vh;

          @include m-media(md) {
            max-height: 40vh;
          }

          @include m-media(lg) {
            max-height: 50vh;
          }
        }
      }
    }
  }

  .carroussel-container {
    width: 100%;
    position: relative;

    @include m-media(md) {
      @include m-columns-width(9, all);
      margin-left: auto;
      margin-top: 2rem;
      margin-bottom: 1.5rem;
    }
  }

  .carroussel-content {
    button {
      display: none;
      visibility: none;
      width: 0px;
      height: 0px;
      font-size: 0px;
    }

    .slick-prev:before {
      content: "<";
      position: absolute;
      bottom: 0;
      left: 23%;
      color: black;
      font-size: 12px;
      transform: translateY(100%);
    }

    .slick-next:before {
      content: ">";
      position: absolute;
      bottom: 0;
      left: 76%;
      color: black;
      font-size: 12px;
      transform: translateY(100%);
    }

    .carroussel-image {
      object-fit: cover;
      height: 30vh;

      @include m-media(md) {
        margin: 0 0.5rem;
        height: 40vh;
      }

      @include m-media(lg) {
        height: 50vh;
      }
    }
  }

  .slides-numbers {
    width: fit-content;
    visibility: hidden;
    position: absolute;
    left: 50%;
    bottom: 0;
    color: black;
    font-size: 12px;
    font-family: $font__secondary;
    transform: translate(-50%, 100%);

    &.show {
      visibility: visible;
    }
  }

  .slick-slide {
    margin: 0px 0px;
  }
  .slick-cloned {
    width: auto;
  }

  .slick-slide img {
    width: 100%;

    @include m-media(md) {
      width: 30vw;
    }
  }
}
