.front-page__section {
  display: block;
  padding: 5rem columns_width(2, "side") + $size__site-padding 5rem;
  width: vw(100);

  &#highlights {
    padding: 0px;
    height: vh(100) - $size__site-header;

    .admin-bar & {
      height: calc(
        calc(#{vh(100)} - #{$size__site-header}) - var(--wp-admin--admin-bar--height)
      );
    }
  }

  // &#highlight-links {
  //   padding: 5rem $size__site-padding 5rem;
  // }

  &#barris {
    background-color: $color__theme-tertiary;
    // padding-left: $size__site-padding;
  }

  &#participa {
    background-color: $color__theme-secondary;
  }
}

.front-page__section-content {
  text-align: center;
  @include m-columns_width(10);
  margin-left: column_outer_width(1);
  padding: column_outer_width(1) column_outer_width(2);

  h2 {
    font-size: 3rem;
  }

  p:last-of-type {
    margin-bottom: 3rem;
  }
}

.front-page__jumbotron {
  position: relative;
  overflow: hidden;
  height: 100%;

  .front-page__jumbotron-item {
    margin: 0;
    position: relative;
    padding-top: calc(#{vh(100)} - #{$size__site-header});

    .admin-bar & {
      padding-top: calc(
        calc(#{vh(100)} - #{$size__site-header}) - var(--wp-admin--admin-bar--height)
      );
    }

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 10;
    }

    figcaption {
      position: absolute;
      top: 1em;
      left: 1em;
      max-width: calc(50% - 1em);
      object-fit: cover;
      z-index: 20;
      font-size: 3rem;
      background-color: white;
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-right: 0.5rem;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active button {
        cursor: default;
        background-color: $white;
      }

      > button {
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid $white;
        background-color: transparent;
        width: 16px;
        height: 16px;
        font-size: 0px;
      }
    }
  }
}

.front-page__highlight-links {
  display: flex;
  border-top: 1px solid;
  border-bottom: 1px solid;
  border-color: $white;
  margin: 4rem columns_width(2, "side") * -1 8rem;
  @include m-columns_width();

  .front-page__highlight-link {
    flex: 1;
    display: flex;
    margin: 3.5rem 0;
    text-align: center;
    align-items: center;
    border-right: 1px solid;
    border-color: $white;
    font-weight: bold;
    font-family: $font__secondary;

    &:last-child {
      border-right: none;
    }

    a {
      display: block;
      width: 100%;
      padding: 2rem 3rem;
      color: $color__font-primary;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;

      &:hover {
        color: $white;
      }
    }
  }
}
