.front-page__section {
  display: block;
  padding: 4.25rem columns_width(1, "side") + $size__site-padding;
  width: vw(100);

  @include m-media(md) {
    padding: 6.25rem columns_width(2, "side") + $size__site-padding;
  }

  &#highlights {
    padding: 0px;
    height: vh(100) - $size__site-header;

    @include m-media(zr, md, portrait) {
      height: vh(55) - $size__site-header;
    }

    .admin-bar & {
      height: calc(
        calc(#{vh(100)} - #{$size__site-header}) - var(--wp-admin--admin-bar--height)
      );

      @include m-media(zr, md, portrait) {
        height: calc(
          calc(#{vh(55)} - #{$size__site-header}) - var(--wp-admin--admin-bar--height)
        );
      }
    }
  }

  &#barris {
    background-color: $color__theme-tertiary;
  }

  &#participa {
    background-color: $color__theme-secondary;
  }
}

.front-page__section-content {
  text-align: center;
  @include m-columns_width(12);

  @include m-media(md) {
    @include m-columns_width(10);
  }

  p:last-of-type {
    margin-bottom: 3rem;
  }

  a {
    position: relative;
    text-transform: uppercase;
    font-family: $font__secondary;

    &:after {
      position: absolute;
      content: ">";
      right: 0px;
      top: 50%;
      transform: translate(calc(100% + 0.35em), -50%);
    }

    &:hover {
      color: $white;
    }
  }
}

.front-page__jumbotron {
  position: relative;
  overflow: hidden;
  height: 100%;

  .front-page__jumbotron-item {
    margin: 0;
    position: relative;
    padding-top: calc(#{vh(100)} - #{$size__site-header});
    .title {
      font-size: 1.8rem;
      @include m-media(md) {
        font-size: $font__size-title;
      }
    }

    .admin-bar & {
      padding-top: calc(
        calc(#{vh(100)} - #{$size__site-header}) - var(--wp-admin--admin-bar--height)
      );
    }

    img {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      object-fit: cover;
      z-index: 10;
      height: vh(100) - $size__site-header;

      @include m-media(zr, md, portrait) {
        height: vh(55) - $size__site-header;
      }

      .admin-bar & {
        height: calc(
          calc(#{vh(100)} - #{$size__site-header}) - var(--wp-admin--admin-bar--height)
        );

        @include m-media(zr, md, portrait) {
          height: calc(
            calc(#{vh(55)} - #{$size__site-header}) - var(--wp-admin--admin-bar--height)
          );
        }
      }
    }

    figcaption {
      position: absolute;
      top: 10%;
      top: calc(#{$size__site-padding} / 2);
      // top: $size__site-padding;
      left: $size__site-padding;
      object-fit: cover;
      z-index: 20;
      font-size: 3rem;
      line-height: 1.2;
      max-width: 80%;

      @include m-media(md) {
        max-width: 50%;
      }

      > span {
        top: calc(#{$size__site-padding} / 2);
        padding-left: 0.2em;
        background-color: white;
      }
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    > li {
      margin-right: 0.65rem;

      &:last-child {
        margin-right: 0;
      }

      &.slick-active button {
        cursor: default;
        background-color: $white;
      }

      > button {
        cursor: pointer;
        border-radius: 50%;
        border: 1.5px solid $white;
        background-color: transparent;
        width: 13px;
        height: 13px;
        font-size: 0px;
      }
    }
  }
}

.front-page__highlight-links {
  display: flex;
  flex-direction: column;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: $white;
  margin: 0 0 4rem;

  @include m-media(md) {
    flex-direction: row;
    margin: 1rem columns_width(2, "side") * -1 8rem;
    @include m-columns_width();
  }

  .front-page__highlight-link {
    flex: 1;
    display: flex;
    margin: 0.5rem 0;
    text-align: center;
    align-items: center;
    border-bottom: 2px solid;
    border-color: $white;
    font-family: $font__secondary;

    @include m-media(md) {
      margin: 3.5rem 0;
      border-bottom: none;
      border-right: 2px solid $white;
    }

    &:last-child {
      border-bottom: none;
      border-right: none;
    }

    a {
      display: block;
      width: 100%;
      padding: 2rem 0;
      color: $color__font-primary;
      line-height: 1.8;
      text-transform: uppercase;

      @include m-media(md) {
        padding: 2rem 3rem;
      }

      &:hover {
        color: $white;
      }
    }
  }
}
