.site-main.page {
  .page-header {
    border-bottom: 2px solid $color__theme-primary;
  }

  /*Custom classes*/
  .em-separador-pagina {
    border-top: none;
    border-bottom: none;
    background-color: $color__theme-secondary;
    height: 3px;
  }

  .em-columnes-linia {
    padding-top: 1em;

    &:first-child {
      padding-right: 4em;
      border-right: 3px solid $color__theme-secondary;
    }

    &:last-child {
      padding-left: 4em;
    }
  }
}
