.main-navigation {
  flex: 1;
  display: flex;
  height: $size__site-header;
  background-color: white;
  justify-content: flex-end;
  position: relative;

  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding-left: 0;
    height: $size__site-header;
    display: none;

    @include m-media(md) {
      display: flex;
    }

    li {
      position: relative;
      padding: 0 1rem;
      border-right: 2px solid $color__theme-primary;
      display: flex;
      align-items: center;

      a {
        font-size: $font__size-small;
        font-weight: 600;
      }

      &:last-child {
        border-right: none;
      }

      @include m-media(md) {
        ul.sub-menu {
          @include m-columns-width(4);
          min-width: 350px;
          position: fixed;
          z-index: 300;
          top: $size__site-header;
          right: -50%;
          height: calc(100vh - #{$size__site-header});
          flex-direction: column;
          padding: 0;
          background-color: white;
          transition: right 500ms ease-in-out;

          .admin-bar & {
            top: calc(#{$size__site-header} + var(--wp-admin--admin-bar--height));
          }

          li {
            @include m-columns-width(4);
            min-width: 350px;
            border-bottom: 2px solid $color__theme-primary;
            border-right: none;
            padding: 1rem 0;
            height: 7rem;
            &:hover {
              background-color: black;
              a {
                color: white;
              }
            }
            a {
              font-size: $font__size-nav-submenu;
              font-family: $font__secondary;
              font-weight: 400;
              color: black;
              padding: 1rem 3rem;
              &:hover {
                color: white;
              }
            }
          }
        }
        &.focus .sub-menu {
          right: 0;
          //afegir propietats opacitat body
        }
      }
    }

    &:hover > a,
    &.focus > a {
    }

    a {
      color: black;
      display: block;
      text-decoration: none;
      &:hover {
        color: $color__theme-primary;
      }
    }
  }
  @include m-media(md) {
    #menu-close {
      position: fixed;
      cursor: pointer;
      z-index: 300;
      top: 85%;
      right: -50%;
      width: 32px;
      height: 32px;
      transition: right 500ms ease-in-out;
      &.focus {
        right: 2%;
      }
    }
    #menu-close:before,
    #menu-close:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: $color__theme-primary;
    }
    #menu-close:before {
      transform: rotate(45deg);
    }
    #menu-close:after {
      transform: rotate(-45deg);
    }
  }
}
@include m-media(md) {
  div.veil {
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0;
    position: fixed;
    top: $size__site-header;
    left: 0;
    z-index: 99;
    display: block;
    transition: opacity 500ms ease-in;
    pointer-events: none;

    .admin-bar & {
      top: calc(#{$size__site-header} + var(--wp-admin--admin-bar--height));
    }

    &.show {
      opacity: 0.4;
      pointer-events: all;
    }
  }
}
/* Small menu. */
.main-navigation.toggled {
  .main-navigation-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: $size__site-header;
  }
  #primary-menu {
    display: block;
    background-color: white;
    width: 100vw;
    height: 100vh;
    margin-top: $size__site-header;
    li {
      display: block;
      border: none;
      ul.sub-menu {
        display: none;
        li {
          border: none;
        }
      }
      &.focus .sub-menu {
        display: block;
      }
    }
  }
}
.menu-toggle {
  background-color: transparent;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  cursor: pointer;
  position: absolute;
  right: var(--content-padding);
  top: 50%;
  transform: translate(0, -50%);

  @include m-media(md) {
    width: 40px;
    height: 40px;
  }

  .toggled & {
    .burger::after {
      transform: translate(0, -5.6px) rotate(45deg);

      @include m-media(md) {
        transform: translate(0, -7.5px) rotate(45deg);
      }
    }

    .burger::before {
      transform: translate(0, 5.6px) rotate(-45deg);

      @include m-media(md) {
        transform: translate(0, 7.5px) rotate(-45deg);
      }
    }
  }
  .burger {
    display: block;
    width: 100%;
    height: 100%;
  }

  .burger::after,
  .burger::before {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 10%;
    background-color: $color__font-primary;
    border-radius: 5%;
    transition: transform 300ms ease-out;
  }

  .burger::before {
    content: ' ';
    top: 25%;
  }

  .burger::after {
    content: ' ';
    bottom: 25%;
  }
}

@include m-media(md) {
  .menu-toggle {
    display: none;
  }
}
