a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: $color__font-primary;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Krona One", sans-serif;
  cursor: pointer;
  padding: 0.1em;
  padding-bottom: 0.05em;
  text-transform: uppercase;

  &:hover,
  &:focus {
    border-bottom: 0.15em solid;
  }

  &:focus,
  &.focus {
    color: $white;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.7;
    border-bottom: 0px;
    color: $color__font-primary;
  }
}

button.inscription{
  color: $color__font-primary;
  text-decoration: none;
  border: 2px solid;
  outline: none;
  background-color: transparent;
  font-family: "Krona One", sans-serif;
  cursor: pointer;
  padding: 0.1em;
  padding-bottom: 0.05em;
  text-transform: uppercase;
  height: 3rem;
  width: 13vw;
  border-radius: 5px;

  &:hover,
  &:focus {
    box-shadow: 2px 2px 2px $color__theme-primary ;
    transform: translateY(-2px);
  }

  &:focus,
  &.focus {
    color: $white;
  }

  &[disabled] {
    cursor: default;
    opacity: 0.7;
    border-bottom: 0px;
    color: $color__font-primary;
  }
}
