a.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  color: $color__font-primary;
  text-decoration: none;
  border: none;
  outline: none;
  background-color: transparent;
  font-weight: bold;
  font-family: "Krona One", sans-serif;
  cursor: pointer;
  padding: 0.2em;
  border-bottom: 0.2em solid transparent;
  transition: border-bottom 150ms ease;
  text-transform: uppercase;

  &:hover {
    border-bottom: 0.2em solid;
  }

  &:active,
  &:focus,
  &.active,
  &.focus {
    color: $white;
  }
}
