a {
  color: $color__font-primary;
  text-decoration: underline;
  &.small-title{
    font-family: $font__secondary;
    font-weight: bold;
    font-size: $font__size-small;
    }

  // &:visited {
  //   color: $color__link;
  // }

  &:hover,
  &:focus,
  &:active {
    color: $color__link;
  }

  // &:focus {
  //   outline: thin dotted;
  // }

  &:hover,
  &:active {
    outline: 0;
  }
}
