a,
.link {
  display: inline;
  cursor: pointer;
  color: $color__font-primary;
  text-decoration: none;

  &.small {
    font-size: $font__size-small;
    line-height: $font__line-height-small;
  }

  &.underline,
  > .underline {
    text-decoration: none;
    padding: 0 0.1em;
    padding-bottom: 0;
    // border-bottom: 0.15em solid;
    // border-bottom-color: transparent;
    transition: border-bottom-color 100ms ease, color 100ms ease;
    text-decoration: none;
  }

  .mobile & {
    text-decoration: underline;
    text-decoration-thickness: 0.15em;
    border-bottom: none;
  }

  &.small-title {
    font-family: $font__secondary;
    font-weight: bold;
    font-size: $font__size-small;
  }

  &:visited {
  }

  &:hover,
  &:focus,
  &:active {
    &.underline,
    > .underline {
      border-bottom: 0.15em solid;
    }
  }

  &:focus {
  }

  &:hover,
  &:active {
    outline: 0;
  }
}
