.site {
  position: relative;
  display: block;
}

.site-header {
  display: flex;
  flex: 2;
  align-items: center;
  position: relative;
  padding: 0 $size__site-padding / 2;
  height: $size__site-header;
  background-color: $white;
  width: vw(100);
}

.site-main {
  padding: 0 $size__site-padding 5rem;

  .page-header {
    padding-top: 8rem;
    padding-bottom: 3rem;
    margin-bottom: 3em;
  }

  .page-breadcrumb {
    margin: 0px;
    line-height: 1;
    margin-bottom: 2em;
  }

  .page-title {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.site-footer {
  height: $size__site-footer;
  background-color: $white;
}
