.site {
    position: relative;

}

.site-header {
	position: relative;
    height: $size__site-header;
    
}

// .site-navigation {
//     position: absolute;
// }
    

.widget-area {
}

.site-footer {
}