$hippie_green: #568047;
$jaffa: #f19b4c;
$de_york: #8dc8a8;
$double_pearl: #fcefd0;
$thunderbird: #d63d1c;
$tobacco_brown: #7c6644;
$white: #ffffff;
$black: #000000;
$dove_gray: #6f6f6f;
$gray: #898585;
$start_white: #e3d0b9;
$ziggurat: #b5d6db;
$spring_rain: #9fc69f;

$color__theme-base: $white;
$color__theme-primary: $start_white;
$color__theme-secondary: $ziggurat;
$color__theme-tertiary: $spring_rain;
$color__theme-highlight: $thunderbird;

$color__font-primary: $black;
$color__font-secondary: $dove_gray;
$color__font-tertiary: $gray;
$color__font-highlight: $thunderbird;
$color__link: mediumblue; // $de_york;
$color__link-touch: mediumblue;
