// stylelint-disable value-keyword-case
$font__primary: Montserrat, "Helvetica Neue", sans-serif;
$font__secondary: "Krona One", sans-serif;
$font__pre: monospace;
// stylelint-enable value-keyword-case
$font__size: 16px;
$font__size-title: $font__size * 6;
$font__size-subtitle: $font__size * 2.25;

$font__line-height: 1.4;
$font__line-height-title: 1.15;
$font__line-height-subtitle: 1;
$font__line-height-pre: 1;

// $font__code: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
// $font__pre: "Courier 10 Pitch", courier, monospace;
// $font__line-height-body: 1.5;
// $font__line-height-pre: 1.6;
