// stylelint-disable value-keyword-case
$font__primary: Montserrat, "Helvetica Neue", sans-serif;
$font__secondary: "Krona One", sans-serif;
$font__pre: monospace;
// stylelint-enable value-keyword-case
$font__size: 16px;
$font__size-title: $font__size * 3.5;
$font__size-title-2: $font__size * 3;
$font__size-heading: $font__size * 1;
$font__size-subtitle: $font__size * 2.25;
$font__size-small: 12px;
$font__size-event: 14px;

$font__line-height: 1.4;
$font__line-height-title: 1.2;
$font__line-height-title-2: 1.2;
$font__line-height-heading: 1.4;
$font__line-height-subtitle: 1;
$font__line-height-small: 1.25;
